﻿@using ExcursioHub.Shared.Entities
@using ExcursioHub.Client.Localization

@inject IStringLocalizer<App> localizer

<div class="bg-gray-50 mt-6 flex items-center justify-center md:justify-between">
    <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between mt-8 sm:mt-0">
        <div class="hidden sm:inline-flex">
            <span class="text-base text-gray-700">
                @localizer[nameof(ResourceStrings.Showing)] <span class="font-medium"> 
                    @(metadata.PageIndex > 1 
                    ? (metadata.PageIndex * metadata.PageSize) - (metadata.PageSize - 1)
                    : metadata.PageIndex) 
                    </span>
                - <span class="font-medium">
                    @((metadata.PageSize * metadata.PageIndex) <= metadata.TotalCount 
                    ? (metadata.PageSize * metadata.PageIndex) 
                    : metadata.TotalCount) 
                    </span>
                @localizer[nameof(ResourceStrings.Of)] <span class="font-medium">
                    @metadata.TotalCount
                    </span>
                @localizer[nameof(ResourceStrings.Products)]
            </span>
        </div>
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                @foreach (var link in links)
                {
                    if (link.Enabled)
                    {
                        if (link.Active)
                        {
                            <div>
                                <button type="button" disabled  
                                    class="z-10 relative inline-flex items-center p-2 border border-gray-800 text-base font-medium 
                                        bg-blue-900 text-gray-50 cursor-default"
                                >
                                    @link.Text
                                </button>
                            </div>
                        }
                        else
                        {
                            <div>
                                <button type="button" @onclick="() => OnSelectedPage(link)" 
                                    class="z-10 relative inline-flex items-center p-2 border border-gray-800 text-base font-medium 
                                        bg-gray-50 text-gray-700 hover:bg-blue-900 hover:text-gray-50  
                                        @($"{(link.Text == @localizer[nameof(ResourceStrings.Next)] ? " rounded-tr-md rounded-br-md" : "")} {(link.Text == @localizer[nameof(ResourceStrings.Previous)] ? " rounded-tl-md rounded-bl-md" : "")}")
                                        "
                                >
                                    @link.Text
                                </button>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <button type="button" disabled class="z-10 relative inline-flex items-center p-2 border border-gray-800 
                                    text-base font-medium text-gray-400 cursor-default 
                                    @($"{(link.Text == @localizer[nameof(ResourceStrings.Next)] ? " rounded-tr-md rounded-br-md" : "")} {(link.Text == @localizer[nameof(ResourceStrings.Previous)] ? " rounded-tl-md rounded-bl-md" : "")}")
                                    " 
                            >
                                @link.Text
                            </button>
                        </div>
                    }
                }
            </nav>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PagingMetadata metadata { get; set; }

    [Parameter]
    public int Spread { get; set; }
    
    [Parameter]
    public EventCallback<int> SelectedPage { get; set; }
        
    private List<PagingLink> links;

    protected override void OnParametersSet()
    {
        CreatePaginationLinks();
    }

    private void CreatePaginationLinks()
    {
        links = new List<PagingLink>();

        links.Add(new PagingLink(metadata.PageIndex - 1, metadata.HasPreviousPage, @localizer[nameof(ResourceStrings.Previous)]));

        for (int i = 1; i <= metadata.TotalPages; i++)
        {
            if (i >= metadata.PageIndex - Spread && i <= metadata.PageIndex + Spread)
            {
                links.Add(new PagingLink(i, true, i.ToString()) { Active = metadata.PageIndex == i });
            }
        }

        links.Add(new PagingLink(metadata.PageIndex + 1, metadata.HasNextPage, @localizer[nameof(ResourceStrings.Next)]));
    }

    private async Task OnSelectedPage(PagingLink link)
    {
        if (link.Page == metadata.PageIndex || !link.Enabled) return;

        metadata.PageIndex = link.Page;
        await SelectedPage.InvokeAsync(link.Page);
    }
}
