﻿

@using ExcursioHub.Client.Localization

@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

    <span>
    <select class="bg-fotoblue sm:inline text-gray-50 text-sm font-medium md:mr-6" @onchange="NewCultureSelectedAsync">
        @foreach (CultureWithName culture in LocalizerSettings.SupportedCulturesWithName)
        {
            @if (SelectedCulture != null && culture == SelectedCulture)
            {
                <option selected value="@culture.Culture">@culture.Name</option>
            }
            else
            {
                <option value="@culture.Culture">@culture.Name</option>
            }
        }
        </select>
    </span>

@code 
{
    private CultureWithName SelectedCulture = null;

    protected override async Task OnInitializedAsync()
    {
        string culture = await LocalStorage.GetItemAsync<string>("culture");
        if(String.IsNullOrWhiteSpace(culture)) SelectedCulture = LocalizerSettings.NeutralCulture;
        else SelectedCulture = (from x in LocalizerSettings.SupportedCulturesWithName
                                where x.Culture == culture
                                select x).FirstOrDefault();
    }

    private async Task NewCultureSelectedAsync(ChangeEventArgs args)
    {
        string cultureString = args.Value.ToString();
        await LocalStorage.SetItemAsync<string>("culture", cultureString);
        Navigation.NavigateTo(Navigation.Uri, true);
    }

}
