﻿@page "/404"

@using ExcursioHub.Client.Localization

@inject IStringLocalizer<App> localizer


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>@localizer[nameof(ResourceStrings.SorryPageNotFound)]</h2>
        <p>
            @localizer[nameof(ResourceStrings.ThePageNotAvailable)]
        </p>
        <NavButton
            Href="/"
            ButtonText="@localizer[nameof(ResourceStrings.GoHome)]"
        />
    </div>
</div>
