﻿@using ExcursioHub.Client.Localization

@inject IStringLocalizer<App> localizer

<footer id="footer" class="text-white bg-fotoblue">
    <div class="container p-8 max-w-7xl bottom-0">
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-10">

            <div class="md:pl-16 sm:col-span-2 pt-0 mt-0">
                <div class="pb-3 pt-0 flex items-center">
                    <!-- https://icons.getbootstrap.com/icons/camera/ -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                    </svg>
                    <span class="inline ml-3 text-xl text-bold text-white">Excursion Hub</span>
                </div>
                <div class="pt-0">
                    It was created by <a href="https://gitlab.com/room-2-otus/ExcursioHub" class="text-gray-400 hover:text-gray-400">OTUS Room 2 Team</a> as a way of exploring Microsoft's Blazor web development framework.
                </div>
                <div class="pt-4">
                </div>
            </div>

            <div class="col-span-1 md:ml-16 xl:ml-32">
                <h5 class="mb-4 uppercase text-gray-400 font-bold">@localizer[nameof(ResourceStrings.Links)]</h5>
                <div>
                    <div>
                        <i class="mr-2 bi bi-globe"></i>
                        <a href="/about" class="text-gray-100 hover:text-gray-400">@localizer[nameof(ResourceStrings.AboutSite)]</a>
                    </div>
                    <div>
                        <i class="mr-2 bi bi-globe"></i>
                        <a href="/contact" class="text-gray-100 hover:text-gray-400">@localizer[nameof(ResourceStrings.ContactMe)]</a>
                    </div>
                </div>
            </div>
            <div class="col-span-1 md:ml-4 lg:ml-16">
                <h5 class="mb-4 uppercase text-gray-400 font-bold">@localizer[nameof(ResourceStrings.Social)]</h5>
                <ul class="list-none">
                    <li>
                        <i class="mr-2 bi bi-facebook"></i>
                        <a href="https://facebook.com" class="text-gray-100 hover:text-gray-400">Facebook</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-twitter"></i>
                        <a href="https://twitter.com" class="text-gray-100 hover:text-gray-400">Twitter</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-instagram"></i>
                        <a href="https://instagram.com" class="text-gray-100 hover:text-gray-400">Instagram</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-twitch"></i>
                        <a href="https://twitch.com" class="text-gray-100 hover:text-gray-400">Twitch</a>
                    </li>
                    <li>
                        <i class="mr-2 bi bi-linkedin"></i>
                        <a href="https://linkedin.com" class="text-gray-100 hover:text-gray-400">LinkedIn</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; Copyright @currentYear - Excursion Hub
    </div>
</footer>

@code {
    private string currentYear;

    protected override void OnInitialized()
    {
        DateTime currentDateTime = DateTime.Now;
        currentYear = currentDateTime.Year.ToString();
    }
}
