﻿@using Microsoft.AspNetCore.Authorization
@using ExcursioHub.Client.Localization

@inject IStringLocalizer<App> localizer
@inject IAuthorizationService AuthorizationService

<AuthorizeView>
    <Authorized>
        <div class="md:mr-4">
            @if (!string.IsNullOrEmpty(displayName))
            {
                <span class="hidden sm:inline text-gray-50 text-sm font-medium md:mr-6">@localizer[nameof(ResourceStrings.Hi)], @displayName</span>
            }

            @if (isAdminByPolicy)
            {
                <span class="text-gray-300 text-sm font-medium md:mr-2 dropdown">
                    @*<NavLink href="/account/admin">
                        @localizer[nameof(ResourceStrings.AdminPage)]
                    </NavLink>*@
                    <button class="text-gray-300 text-sm font-medium md:mr-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            @localizer[nameof(ResourceStrings.AdminPage)]
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/admin/product/create">@(localizer[nameof(ResourceStrings.AddProduct)])</a></li>
                        <li><a class="dropdown-item" href="/admin/categories">@(localizer[nameof(ResourceStrings.AdminCategories)])</a></li>
                        <li><a class="dropdown-item" href="/admin/guides">@(localizer[nameof(ResourceStrings.AdminGuides)])</a></li>
                    </ul>
                </span>
            }

            @if (isUserByPolicy && !isAdminByPolicy)
            {
                <span class="md:mr-2">
                    <NavLink href="/account/orders" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                        @localizer[nameof(ResourceStrings.YourOrders)]
                    </NavLink>
                </span>
            }

            <a href="logout" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">@localizer[nameof(ResourceStrings.LogOut)]</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="md:mr-4">
            <a href="login" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">@localizer[nameof(ResourceStrings.LogIn)]</a>
            <a href="register" class="text-gray-300 hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium">@localizer[nameof(ResourceStrings.Register)]</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string displayName;
    bool isAdminByPolicy = false;
    bool isUserByPolicy = false;

    protected override async Task OnInitializedAsync()
    {
        await GetAuthorisationData();
    }

    private async Task GetAuthorisationData()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            displayName = user?.Claims?.FirstOrDefault(c => c.Type == "given_name").Value;
        }

        if ((await AuthorizationService.AuthorizeAsync(user, "IsAdmin")).Succeeded)
        {
            isAdminByPolicy = true;
        }

        if ((await AuthorizationService.AuthorizeAsync(user, "IsUser")).Succeeded)
        {
            isUserByPolicy = true;
        }
    }
}
