﻿

@using ExcursioHub.Client.Localization

@inject NavigationManager navigationManager
@inject IStringLocalizer<App> localizer

<div class="pt-8 text-center font-semibold text-xl">
    <p>@localizer[nameof(ResourceStrings.YouHaveNoAccessToThisPage)]</p>
</div>
<div class="pt-8 text-center mb-64">
    <button class="p-2 bg-fotofuchsia text-white rounded-sm text-base font-semibold hover:opacity-90 fotofuchsia-ripple"
            @onclick="GoToHomePage">
        @localizer[nameof(ResourceStrings.GoHome)]
    </button>
</div>

@code {

    private void GoToHomePage()
    {
        navigationManager.NavigateTo("/");
    }
}
