﻿@page "/about"

@using ExcursioHub.Client.Localization

@inject IStringLocalizer<App> localizer

<div class="md:container mt-4 mb-8 h-auto text-justify">
    <h4 class="text-xl font-bold mb-8">@localizer[nameof(ResourceStrings.AboutSite)]</h4>
    <p class="mb-8">
        @localizer[nameof(ResourceStrings.WelcomeToExcursionHub)].
    </p>
</div>
