﻿@page "/contact"

@using ExcursioHub.Client.Localization

@inject IStringLocalizer<App> localizer

<div class="md:container mt-4 h-128">
    <h4 class="text-lg font-bold mb-8">Contact</h4>
    <p class="text-base">@localizer[nameof(ResourceStrings.ForMoreInformationAboutSite)]: <strong>info@excursiohub.net</strong></p>
</div>
