﻿@page "/counter"
@using ExcursioHub.Shared.Auth
@attribute [Authorize(Policy = Policies.IsAdmin)]

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="mt-8">
    <AuthorizeView Policy="@Policies.IsUser">
        <p>You can only see this if you satisfy the IsUser policy.</p>
    </AuthorizeView>

    <AuthorizeView Policy="@Policies.IsAdmin">
        <p>You can only see this if you satisfy the IsAdmin policy.</p>
    </AuthorizeView>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
