﻿@page "/"
@page "/{auth}"

@using ExcursioHub.Client.Localization

@inject IJSRuntime JsRuntime;
@inject IStringLocalizer<App> localizer;

<div class="min-h-screen">
    <div class="container max-w-7xl mt-8">
        <div id="promo-carousel" class="carousel slide d-none d-md-block max-h-112" data-bs-ride="carousel">
            <!-- slide location indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#promo-carousel" data-bs-slide-to='0' class="active" ></li>
                <li data-bs-target="#promo-carousel" data-bs-slide-to='1' ></li>
            </ol>
            <!-- main carousel images -->
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active" >
                    <img class="d-block" src="https://i.ibb.co/6wm4xKP/image.png" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <NavLink href="/products/details/1">
                            <button class="my-3 btn btn-outline-light">@localizer[nameof(ResourceStrings.ExploreMedievalTreasures)]</button>
                        </NavLink>
                    </div>
                </div>
                <div class="carousel-item carousel-image-2" >
                    <NavLink href="/products/categories/1">
                        <img class="d-block" src="https://i.ibb.co/5kvf2hW/image.png" alt="">
                        <div class="carousel-caption d-none d-md-block text-light">
                            <button class="my-3 btn btn-outline-light">@localizer[nameof(ResourceStrings.ViewCityTours)]</button>
                        </div>
                    </NavLink>
                </div>
            </div>
            <!-- next/prev buttons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#promo-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">@localizer[nameof(ResourceStrings.Previous)]</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#promo-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">@localizer[nameof(ResourceStrings.Next)]</span>
            </button>
        </div>
    </div>

    <!-- category grid -->
    <div class="md:container max-w-7xl mt-8 md:mt-24">
        <div class="md:hidden mb-12 w-full md:px-8 flex justify-center items-center">
            <ClickSearch 
                Placeholder="Search the store..." 
                ButtonType="standard"
            />
        </div>
        <div class="grid grid-cols-1 grid-rows-4 md:grid-cols-3 md:grid-rows-2 gap-2 items-stretch">
            <div class="hidden md:block md:row-span-2 md:cols-span-1 bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products" >
                    <img src="https://i.ibb.co/smCMfhY/image.png" alt="Search our entire range" class="object-cover transition ease-in-out duration-500 transform hover:scale-110 ">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base lg:text-xl text-gray-700">
                    <span>@localizer[nameof(ResourceStrings.SearchOurFullRange)]</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products/categories/1" >
                    <img src="https://i.ibb.co/9pWYdDx/image.png" alt="View City Tours" class="object-cover transition ease-in-out duration-500 transform hover:scale-110 ">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>@localizer[nameof(ResourceStrings.CityTours)]</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products/categories/2">
                    <img src="https://i.ibb.co/Gnp7zHj/image.png" alt="View Cultural and Heritage Tours" class="object-cover transition ease-in-out duration-500 transform hover:scale-110">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>@localizer[nameof(ResourceStrings.CulturalandHeritageTours)]</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="products/categories/3" >
                    <img src="https://i.ibb.co/4p898zM/image.png" alt="View Ecucational Tours" class="object-cover transition ease-in-out duration-500 transform hover:scale-110">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>@localizer[nameof(ResourceStrings.EducationalTours)]</span>
                </div>
            </div>
            <div class="bg-gray-900 text-gray-50 h-full w-full hover:opacity-80 relative overflow-hidden">
                <a href="specialoffers">
                    <img src="https://i.ibb.co/d5VGvnk/image.png" alt="View Special Offers" class="object-cover transition ease-in-out duration-500 transform hover:scale-110">
                </a>
                <div class="absolute top-0 ml-4 mt-2 font-semibold text-base md:text-lg text-gray-50">
                    <span>@localizer[nameof(ResourceStrings.SpecialOffers)]</span>
                </div>
            </div>
        </div>
    </div>

    <!-- guides -->
    <div class="md:container mt-16 md:mt-24">
        <div class="md:container max-w-7xl rounded-md shadow-md pt-3 bg-white">
            <div class="flex justify-around items-center flex-col md:flex-row">
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/guides/1">
                        <img src="https://i.ibb.co/3zTG9TX/image.png" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/guides/2">
                        <img src="https://i.ibb.co/Y359cS2/image.png" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/guides/3">
                        <img src="https://i.ibb.co/DpWJdjr/image.png" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
                <div class="h-24 w-24 lg:h-28 lg:w-28">
                    <a href="products/guides/4">
                        <img src="https://i.ibb.co/417b4Bz/image.png" class="transition duration-300 transform ease-in-out hover:scale-110" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

@code {
    [Parameter]
    public string Auth { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await InvokeAsync(StateHasChanged);
    }
    
}

@functions {     

    protected async override Task OnAfterRenderAsync(bool firstRender)     
    {        
        // initialises the bootstrap 5 carousel via JSInterop
        if (firstRender)         
        {
            // to configure the carousel, go to 'wwwroot/scripts/initialiseCarousel.js'
            await JsRuntime.InvokeAsync<object>("initialiseCarousel");             
            firstRender = false;         
        }
    }     
}
