﻿@page "/products/details/{id:int}"

@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Entities
@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Localization
@using System.Globalization

@inject IProductService productService
@inject IToastService toastService
@inject IStringLocalizer<App> localizer
@inject ILanguageService languageService

<div class="md:container">
    @if (errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">
            <h4>@errorMessage</h4>
        </div>
    }
    else if (product == null)
    {
        <text>@localizer[nameof(ResourceStrings.LoadingProductDet)]</text>
    }
    else
    {
        <NavButton
            Href="/products"
            ButtonText="@localizer[nameof(ResourceStrings.GoBack)]"
        />
        <div class="mt-4 grid sm:grid-cols-1 lg:grid-cols-2 gap-16">
            <div class="w-full mx-4">
                <img src="@product.ImageUrl" />
            </div>
            <div>
                <div class="text-2xl font-bold mb-4">@product.Name</div>
                <div class="mb-4">
                    <span class="block text-gray-500 text-base mb-1">@localizer[nameof(ResourceStrings.Guide)]: @product.Guide</span>
                    <span class="block text-gray-500 text-base">@localizer[nameof(ResourceStrings.Category)]: @product.Category</span>
                </div>
                @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                {
                    <div class="mb-4">
                        <span class="text-gray-500 text-base line-through mr-4">@localizer[nameof(ResourceStrings.Was)]: €@product.Price</span>
                        <span class="inline text-gray-500 text-lg font-semibold">@localizer[nameof(ResourceStrings.Now)]: €@product.SalePrice</span>
                    </div>
                }
                else
                {
                    <div class="mb-4">
                        <span class="block text-gray-500 text-lg font-semibold">€@product.Price</span>
                    </div>
                }
                <div class="font-bold text-base text-green-700 mb-4">@localizer[nameof(ResourceStrings.InStock)]</div>
                <div class="font-bold text-base mb-4 flex flex-row justify-items-start items-center h-2 w-2">
                    <div class="font-bold text-base mr-3">@localizer[nameof(ResourceStrings.Quantity)]:</div>
                    <button type="button" class="border-1 border-solid border-gray-300 rounded p-2 hover:bg-fotofuchsia hover:text-gray-50" @onclick="() => ChangeQuantity(false)">
                        <!-- heroicons: minus-sm icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                        </svg>
                    </button>
                    <input type="text" class="font-bold mx-2 border-none focus:outline-none w-6 text-center " value="@itemQuantity" readonly />
                    <button type="button" class="border-1 border-solid border-gray-300 rounded p-2 hover:bg-fotofuchsia hover:text-gray-50" @onclick="() => ChangeQuantity(true)">
                        <!-- heroicons: plus icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </button>
                </div>
                <button class="flex flex-row justify-start items-center bg-fotofuchsia p-2 rounded-sm mt-10 mb-4 sm:w-1/2 sm:text-center xl:w-1/3 hover:opacity-90 fotofuchsia-ripple">
                    <span class=" text-gray-50 ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </span>
                    <span class="text-gray-50 text-base ml-3" @onclick="AddItemToBasket">@localizer[nameof(ResourceStrings.AddBasket)]</span>
                </button>
                <div class="text-base mb-4 text-justify">@product.Description</div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    public Error Error { get; set; }

    [CascadingParameter]
    public BasketState basketState { get; set; }

    private ProductDTO product;

    private string errorMessage = "";

    private int itemQuantity = 1;

    protected override async Task OnInitializedAsync()
    {
        await GetProductById();
        itemQuantity = 1;
    }

    private async Task GetProductById()
    {

        var languageId = CultureInfo.CurrentCulture.Name;
        var language = await languageService.GetLanguageByLanguageIdAsync(languageId);

        try
        {
            product = await productService.GetProductByProductIdAndLanguagIdAsync(Id, language.Id);
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Products/Details.GetProductById()");
            errorMessage = @localizer[nameof(ResourceStrings.CouldNotRetrieveDetailsForThisProduct)];
        }
    }

    private void ChangeQuantity(bool increase)
    {
        if (increase)
        {
            if (itemQuantity <= 4) // limit to 5
            {
                itemQuantity++;
            }
        }
        else
        {
            if (itemQuantity >= 2) itemQuantity--;
        }
    }


    private async Task AddItemToBasket()
    {
        var productToAdd = new BasketProductDTO {
            Id = product.Id,
            Name = product.Name,
            Price = product.Price,
            ImageUrl = product.ImageUrl,
            Guide = product.Guide,
            Category = product.Category,
            SalePrice = product.SalePrice
        };

        var item = new BasketItem { Product = productToAdd, Quantity = itemQuantity };

        basketState.Basket.BasketItems.Add(item);
        await basketState.SaveChangesAsync(); // save to local storage
        basketState.BasketItemCount++;
        toastService.ShowSuccess(@localizer[nameof(ResourceStrings.NewItemInBasket)], @localizer[nameof(ResourceStrings.BasketUpdated)]);
    }

}
