﻿@page "/products/"
@page "/products/guides/{guideId:int}"
@page "/products/categories/{categoryId:int}"
@page "/products/{searchTerm}"

@using ExcursioHub.Shared.Models
@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Entities
@using ExcursioHub.Client.Contracts
@using Blazored.SessionStorage
@using ExcursioHub.Client.Localization
@using System.Globalization

@inject IAuthorizationService AuthorizationService
@inject IProductService productService
@inject NavigationManager navigationManager
@inject ISessionStorageService sessionStorage
@inject IStringLocalizer<App> localizer
@inject ILanguageService languageService

<div class="md:container mt-4">
    @if (errorMessage != "")
    {
        <div class="mx-2 animate-pulse">
            <div class="alert-box" role="alert">
                <span class="block sm:inline">@errorMessage</span>
            </div>
        </div>
    }
    else if (products == null)
    {
        <text>@localizer[nameof(ResourceStrings.LoadingProducts)]</text>
    }
    else
    {
        
            <div class="flex flex-col lg:flex-row flex-wrap justify-items-center items-center lg:justify-between ">
                <div class="inline-flex justify-center items-center">
                    <div class="w-full lg:w-72 justify-items-center">
                        <TypeSearch OnSearchChanged="SearchChanged"
                            ClearSearch=@ClearSearch
                            Placeholder="@localizer[nameof(ResourceStrings.SearchProduct)]" />
                    </div>
                    <div class="ml-1">
                        <button class="p-2 bg-blue-900 text-white rounded-sm text-base font-semibold hover:opacity-90 fotoblue-ripple" @onclick="async () => await ResetSearch()">
                            @localizer[nameof(ResourceStrings.Clear)]
                        </button>
                    </div>
                </div>
                <div class="relative inline-block">
                    <!-- Sort By dropdown -->
                    <div class="text-center mt-8 lg:mt-0 lg:text-left">
                        <div class="text-gray-700 mr-2 py-2 text-base font-medium inline">@localizer[nameof(ResourceStrings.SortProducts)]</div>
                        <div class="inline-block">
                            <button type="button" class="inline-flex md:flex-grow justify-center w-72 rounded-sm border border-gray-700 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none" 
                                id="menu-button"
                                @onclick="ToggleDropdown"
                            >
                                @SortBySelected
                                <!-- Heroicon name: solid/chevron-down -->
                                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                            @if (dropdownOptions != null)
                            {
                                <div class="origin-top-right absolute right-0 mt-2 w-72 rounded-md shadow-md bg-white focus:outline-none z-10 transition ease-in-out duration-300 @DropdownTransformClass" role="menu" tabindex="-1">
                                    <div class="py-1 hover:cursor-pointer">
                                        @foreach (DropdownItem item in dropdownOptions)
                                        {
                                            <NavLink  
                                                class="block px-4 py-1 text-base text-center font-semibold text-gray-700 hover:bg-gray-200 hover:text-gray-700 " 
                                                role="menuitem" 
                                                tabindex="-1" 
                                                id=@($"menu-item-{item.Id}")
                                                @onclick='async () => await AddSort(item.OptionRef, item.OptionName)'
                                            >
                                            <span class="text-center cursor-pointer">@(localizer[Enum.GetName(typeof(ResourceStrings), (int)Enum.Parse(typeof(ResourceStrings), item.OptionRef))])</span>
                                            </NavLink>
                                        }
                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>

        

            <!-- show a 'currently displaying' section to indicate how the products are being filtered -->
            <div class="flex flex-col sm:flex-row justify-center items-center mt-4">
                <div class="text-base font-semibold mr-2 mt-1">@localizer[nameof(ResourceStrings.CurrentlyDisp)]</div>

                @if (string.IsNullOrEmpty(productParams.Search) && productParams.CategoryId == 0 && productParams.GuideId == 0)
                {
                    <div class="bg-yellow-300 text-gray-900 text-xs uppercase rounded-md p-2 ml-3 mt-2">
                        <span class="text-xs font-semibold">@localizer[nameof(ResourceStrings.AllProducts)]</span>
                    </div>
                }
                else 
                {
                    @if (!string.IsNullOrEmpty(productParams.Search))
                    {
                        <div class="bg-yellow-300 text-gray-900 text-xs uppercase rounded-md p-2 ml-2 mt-2 mr-2">
                            <span class="text-xs font-semibold mr-2">@localizer[nameof(ResourceStrings.Search)]: @productParams.Search</span>
                            <button type="button" @onclick="() => DeleteDisplayParam(productParams.Search)">
                                <!-- heroicons: x (outline) -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline -mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    }
                    
                    @if (productParams.CategoryId != 0)
                    {
                        <div class="bg-yellow-300 text-gray-900 text-xs uppercase rounded-md p-2 ml-2 mt-2 mr-2">
                            <span class="text-xs font-semibold mr-2">@localizer[nameof(ResourceStrings.Category)] @(ReturnCategoryNameFromId(@productParams.CategoryId))</span>
                            <button type="button" @onclick="() => DeleteDisplayParam(productParams.CategoryId)">
                                <!-- heroicons: x (outline) -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline -mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    }
                    
                    @if (productParams.GuideId != 0)
                    {
                        <div class="bg-yellow-300 text-gray-800 text-xs uppercase rounded-md p-2 ml-2 mt-2 mr-2">
                            <span class="text-xs font-semibold mr-2">@localizer[nameof(ResourceStrings.Guide)]: @(ReturnGuideNameFromId(@productParams.GuideId))</span>
                            <button type="button" @onclick="() => DeleteDisplayParam(productParams.GuideId)">
                                <!-- heroicons: x (outline) -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline -mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    }
                }
                
            </div>

        @if (products.Count() > 0)
        {

            <div class="mt-10 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
                @foreach (var product in products)
                {
                    <div class="product-card hover:shadow-xl hover:opacity-70">
                        <a href="products/details/@product.ProductId" class="hover:text-fotoblue">
                            <img src="@product.ImageUrl" alt="@product.Name" class="w-full h-32 sm:h-48 object-cover">
                            <div class="m-4">
                                <span class="font-bold block">@product.Name</span>
                                @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                                {   
                                    <span class="text-gray-500 text-sm line-through mr-4">€@product.Price</span>
                                    <span class="inline text-gray-500 text-sm">@localizer[nameof(ResourceStrings.Now)]: €@product.SalePrice</span>
                                }
                                else
                                {
                                    <span class="block text-gray-500 text-sm">€@product.Price</span>
                                }
                            </div>
                        </a>
                        @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                        {
                            <div class="product-badge">
                                <svg class="h-6 w-6 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                                </svg>
                                <span>@localizer[nameof(ResourceStrings.Save)] €@((product.Price - product.SalePrice))</span>
                            </div>
                        }
                        @if (isAdminByPolicy)
                        {
                            <a href="/admin/product/edit/@product.Id">
                                <div class="bg-yellow-300 hover:bg-fotoblue rounded absolute top-0 right-0 p-2 mr-3 mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" enable-background="red" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </div>
                            </a>
                        }
                    </div>
                }
            </div>
            <div>
                <Pagination metadata="metadata" Spread="5" SelectedPage="SelectedPage" />
            </div>
        }
        else
        {
            <div class="pt-8 text-center font-semibold text-xl">
                <p>@localizer[nameof(ResourceStrings.NoProducts)]</p>
            </div>
        }
    }
</div>

@code {


    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    public Error Error { get; set; }

    [Parameter]
    public int guideId { get; set; } = 0;

    [Parameter]
    public int categoryId { get; set; } = 0;

    [Parameter]
    public int languageId { get; set; } = 0;

    [Parameter]
    public string searchTerm { get; set; }

    public Language language;

    List<ProductDTO> products;

    List<DropdownItem> dropdownOptions = new();

    private bool collapseDropdown = true;

    private string DropdownTransformClass => collapseDropdown ? "transform opacity-0 scale-90" : null;

    private void ToggleDropdown()
    {
        collapseDropdown = !collapseDropdown;
    }

    bool isAdminByPolicy = false;

    private string SortBySelected;

    private PagingMetadata metadata = new();
    private ProductParameters productParams = new();

    private string errorMessage = "";

    private bool ClearSearch = false;

    public List<Category> Categories = new ();
    public List<Guide> Guides = new ();

    protected override async Task OnParametersSetAsync()
    {


        SortBySelected = localizer[nameof(ResourceStrings.nameAsc)];

        if (guideId != 0) await AddGuideFilter();
        if (categoryId != 0) await AddCategoryFilter();

        if (!string.IsNullOrWhiteSpace(searchTerm)) await SearchChanged(searchTerm);

        if (string.IsNullOrEmpty(productParams.Search) && productParams.CategoryId == 0 && productParams.GuideId == 0)
        {
            var storedParams = await GetProductParamsFromSessionStorage();


            if (storedParams != null)
            {
                productParams = storedParams;
            }
        }

        await SelectedPage(productParams.PageIndex);
    }

    protected override async Task OnInitializedAsync()
    {
        var languageId = CultureInfo.CurrentCulture.Name;
        language = await languageService.GetLanguageByLanguageIdAsync(languageId);

        await GetAuthorisationData();
        await GetCategories(language.Id);
        await GetGuides();
    }

    protected override void OnInitialized()
    {
        SetSortByDropdownOptions();
    }

    private async Task GetProducts()
    {
        try
        {
            var user = (await authenticationStateTask).User;

            productParams.LanguageId = language.Id;

            var productsWithMetadata = await productService.GetProductsAsync(productParams, (await AuthorizationService.AuthorizeAsync(user, "IsAdmin")).Succeeded ? true : false);
            products = productsWithMetadata.Items;
            metadata = productsWithMetadata.Metadata;
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Products/Index.GetProducts()");
            errorMessage = @localizer[nameof(ResourceStrings.CouldNotRetrieveListOfProducts)];
        }
    }

    private async Task GetAuthorisationData()
    {
        var user = (await authenticationStateTask).User;


        if ((await AuthorizationService.AuthorizeAsync(user, "IsAdmin")).Succeeded)
        {
            isAdminByPolicy = true;
        }
    }

    private async Task SelectedPage(int page = 1)
    {
        productParams.PageIndex = page;
        await SaveProductParamsToSessionStorage(productParams);
        await GetProducts();
    }

    private async Task SearchChanged(string searchTerm = "")
    {
        productParams.PageIndex = 1;
        productParams.Search = searchTerm;
        await SaveProductParamsToSessionStorage(productParams);
        await GetProducts();
    }

    private async Task AddSort(string SortBy, string SortByName) 
    {
        productParams.SortBy = SortBy;
        SortBySelected = localizer[Enum.GetName(typeof(ResourceStrings), (int)Enum.Parse(typeof(ResourceStrings),  SortBy))];
        await SaveProductParamsToSessionStorage(productParams);
        ToggleDropdown();
        await GetProducts();
    }

    private async Task AddGuideFilter() 
    {
        productParams.GuideId = guideId;
        productParams.PageIndex = 1;
        await SaveProductParamsToSessionStorage(productParams);
        await GetProducts();
    }

    private async Task AddCategoryFilter() 
    {
        productParams.CategoryId = categoryId;
        productParams.PageIndex = 1;
        await SaveProductParamsToSessionStorage(productParams);
        await GetProducts();
    }

    private async Task DeleteDisplayParam(string displayParam)
    {
        if ((string)displayParam == productParams.Search)
        {
            productParams.Search = "";
            productParams.PageIndex = 1;
            await SaveProductParamsToSessionStorage(productParams);
            await GetProducts();
        }
    }

    private async Task DeleteDisplayParam(int displayParam)
    {
        if ((int)displayParam == productParams.CategoryId)
        {
            productParams.CategoryId = 0;
            productParams.PageIndex = 1;
            await GetProducts();
        }

        if ((int)displayParam == productParams.GuideId)
        {
            productParams.GuideId = 0;
            productParams.PageIndex = 1;
            await GetProducts();
        }

        await SaveProductParamsToSessionStorage(productParams);
    }

    private async Task ResetSearch()
    {
        ClearSearch = true;
        await SearchChanged();
    }

    private void SetSortByDropdownOptions()
    {
        dropdownOptions.Add(new DropdownItem{ Id = 1, OptionName = "Name (A-Z)", OptionRef = "nameAsc" });
        dropdownOptions.Add(new DropdownItem{ Id = 2, OptionName = "Price (Highest to Lowest)", OptionRef = "priceDesc" });
        dropdownOptions.Add(new DropdownItem{ Id = 3, OptionName = "Price (Lowest to Highest)", OptionRef = "priceAsc" });
        dropdownOptions.Add(new DropdownItem{ Id = 4, OptionName = "Name (Z-A)", OptionRef = "nameDesc" });
    }

    private void GoToHomePage()
    {
        navigationManager.NavigateTo("/");
    }

    private async Task GetCategories(int languageId)
    {
        Categories = await productService.GetProductCategoriesAsync(languageId);
    }

    private async Task GetGuides()
    {
        Guides = await productService.GetProductGuidesAsync();
    }

    private string ReturnCategoryNameFromId(int categoryId)
    {
        var category = Categories.FirstOrDefault(c => c.CategoryId == categoryId);

        return category.Name;
    }

    private string ReturnGuideNameFromId(int guideId)
    {
        var guide = Guides.FirstOrDefault(b => b.Id == guideId);

        return guide.Name;
    }

    private async Task SaveProductParamsToSessionStorage(ProductParameters productParameters)
    {
        await sessionStorage.SetItemAsync("productParams", productParameters);
    }

    private async Task<ProductParameters> GetProductParamsFromSessionStorage()
    {
        var storedParams = await sessionStorage.GetItemAsync<ProductParameters>("productParams");

        return storedParams;
    }

}
