﻿@page "/specialoffers"

@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Models
@using ExcursioHub.Shared.Entities
@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Localization
@using System.Globalization

@inject IProductService productService
@inject ILanguageService languageService
@inject NavigationManager navigationManager
@inject IToastService toastService
@inject IStringLocalizer<App> localizer

<div class="container mt-8">
    @if (errorMessage != "")
    {
        <div class="mx-2 animate-pulse">
            <div class="alert-box text-center" role="alert">
                <span class="block sm:inline">@errorMessage</span>
            </div>
        </div>
    }
    else if (products == null)
    {
        <text>@localizer[nameof(ResourceStrings.LoadingProducts)]</text>
    }
    else
    {
        @if (products.Count() > 0)
        {
            <div class="flex flex-col lg:flex-row flex-wrap justify-items-center items-center lg:justify-between ">
                <div class="inline-flex justify-center items-center">
                    <div class="w-full lg:w-72 justify-items-center">
                        <TypeSearch OnSearchChanged="SearchChanged"
                            ClearSearch=@ClearSearch
                            Placeholder="@localizer[nameof(ResourceStrings.SearchProduct)]" 
                        />
                    </div>
                    <div class="ml-1">
                        <button class="p-2 bg-blue-900 text-white rounded-sm text-base font-semibold hover:opacity-90 fotoblue-ripple" @onclick="async () => await ResetSearch()">
                            @localizer[nameof(ResourceStrings.Clear)]
                        </button>
                    </div>
                </div>
                <div class="relative inline-block">
                    <!-- Sort By dropdown -->
                    <div class="text-center mt-8 lg:mt-0 lg:text-left">
                        <div class="text-gray-700 mr-2 py-2 text-base font-medium inline">@localizer[nameof(ResourceStrings.SortProducts)]:</div>
                        <div class="inline-block">
                            <button type="button" class="inline-flex md:flex-grow justify-center w-72 rounded-sm border border-gray-700 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none" 
                                id="menu-button"
                                @onclick="ToggleDropdown"
                            >
                                @SortBySelected
                                <!-- Heroicon name: solid/chevron-down -->
                                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                            @if (dropdownOptions != null)
                            {
                                <div class="origin-top-right absolute right-0 mt-2 w-72 rounded-md shadow-md bg-white focus:outline-none z-10 transition ease-in-out duration-300 @DropdownTransformClass" role="menu" tabindex="-1">
                                    <div class="py-1 hover:cursor-pointer">
                                        @foreach (DropdownItem item in dropdownOptions)
                                        {
                                            <NavLink  
                                                class="block px-4 py-1 text-base text-center font-semibold text-gray-700 hover:bg-gray-200 hover:text-gray-700 " 
                                                role="menuitem" 
                                                tabindex="-1" 
                                                id=@($"menu-item-{item.Id}")
                                                @onclick='async () => await AddSort(item.OptionRef, item.OptionName)'
                                            >
                                                <span class="text-center cursor-pointer">@(localizer[Enum.GetName(typeof(ResourceStrings), (int)Enum.Parse(typeof(ResourceStrings), item.OptionRef))])</span>
                                            </NavLink>
                                        }
                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>
            <div class="text-3xl md:text-4xl font-bold text-center mt-12">
                @localizer[nameof(ResourceStrings.SpecialOffers)]
            </div>

            @foreach (var product in products)
            {
                <div class="container md:px-16 mt-12 grid sm:grid-cols-1 lg:grid-cols-2 gap-2 shadow-md rounded-sm bg-white py-12">
                    <div class="mr-24 justify-self-end">
                        <img src="@product.ImageUrl" class="w-72 h-auto" />
                    </div>
                    <div>
                        <div class="text-2xl font-bold mb-3">@product.Name</div>
                        <div class="mb-2">
                            <span class="block text-gray-500 text-base mb-1">@localizer[nameof(ResourceStrings.Guide)]: @product.Guide</span>
                            <span class="block text-gray-500 text-base">@localizer[nameof(ResourceStrings.Category)]: @product.Category</span>
                        </div>
                        @if (product.SalePrice != 0 && product.SalePrice < product.Price)
                        {
                            <div class="mb-2">
                                <span class="text-gray-500 text-base line-through mr-4">@localizer[nameof(ResourceStrings.Was)]: €@product.Price</span>
                                <span class="inline text-gray-500 text-lg font-semibold mr-3">@localizer[nameof(ResourceStrings.Now)]: €@product.SalePrice</span>
                                <span class="inline text-fotoblue text-lg font-bold">(@localizer[nameof(ResourceStrings.Save)] €@(@product.Price - product.SalePrice))</span>
                            </div>
                        }
                        else
                        {
                            <div class="mb-2">
                                <span class="block text-gray-500 text-lg font-semibold">€@product.Price</span>
                            </div>
                        }
                        <button class="flex flex-row justify-start items-center bg-fotofuchsia p-2 rounded-sm mt-4 mb-4 sm:w-1/2 sm:text-center xl:w-1/3 hover:opacity-90 fotofuchsia-ripple">
                            <span class=" text-gray-50 ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            </span>
                            <span class="text-gray-50 text-base ml-3" @onclick="() => AddProductToBasket(product.Id)">@localizer[nameof(ResourceStrings.AddBasket)]</span>
                        </button>
                        <div class="text-sm md:text-base mb-2 text-justify">@product.Description</div>
                    </div>
                </div>
            }

            <div class="mt-12">
                <Pagination metadata="metadata" Spread="5" SelectedPage="SelectedPage" />
            </div>
        }
        else
        {
            <div class="pt-8 text-center font-semibold text-xl">
                <p>No products found...</p>
            </div>
            <div class="pt-8 text-center mb-64">
                <button class="p-2 bg-fotofuchsia text-white rounded-sm text-base font-semibold hover:opacity-90 fotofuchsia-ripple" 
                    @onclick="GoToHomePage"
                >
                    @localizer[nameof(ResourceStrings.GoHome)]
                </button>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter]
    public Error Error { get; set; }

    [CascadingParameter]
    public BasketState basketState { get; set; }

    public Language language;

    List<ProductDTO> products;

    List<DropdownItem> dropdownOptions = new();

    private bool collapseDropdown = true;

    private string DropdownTransformClass => collapseDropdown ? "transform opacity-0 scale-90" : null;

    private void ToggleDropdown()
    {
        collapseDropdown = !collapseDropdown;
    }

    private string SortBySelected;

    private PagingMetadata metadata = new();

    private ProductParameters productParams = new();

    private string errorMessage = "";
    private bool ClearSearch = false;

    private int itemQuantity = 1;

    protected override void OnInitialized()
    {
        SetSortByDropdownOptions();
    }

    protected override async Task OnInitializedAsync()
    {
        var languageId = CultureInfo.CurrentCulture.Name;
        language = await languageService.GetLanguageByLanguageIdAsync(languageId);


        SortBySelected = localizer[nameof(ResourceStrings.nameAsc)];
        await SelectedPage(); 
    }

    private async Task SelectedPage(int page = 1)
    {
        productParams.PageIndex = page;

        await GetProducts();
    }

    private async Task GetProducts()
    {
        try
        {

            productParams.LanguageId = language.Id;

            var productsWithMetadata = await productService.GetProductsOnSpecialOfferAsync(productParams);
            products = productsWithMetadata.Items;
            metadata = productsWithMetadata.Metadata;
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Products/SpecialOffers.GetProducts()");
            errorMessage = @localizer[nameof(ResourceStrings.CouldNotRetrieveListOfProducts)];
        }
    }
    
    private async Task SearchChanged(string searchTerm = "")
    {
        productParams.PageIndex = 1;
        productParams.Search = searchTerm;

        await GetProducts();
    }

    private async Task AddSort(string SortBy, string SortByName) 
    {
        productParams.SortBy = SortBy;
        SortBySelected = localizer[Enum.GetName(typeof(ResourceStrings), (int)Enum.Parse(typeof(ResourceStrings), SortBy))];
        ToggleDropdown();
        await GetProducts();
    }

    private async Task ResetSearch()
    {
        ClearSearch = true;
        await SearchChanged();
    }

    private void SetSortByDropdownOptions()
    {
        dropdownOptions.Add(new DropdownItem{ Id = 1, OptionName = "Name (A-Z)", OptionRef = "nameAsc" });
        dropdownOptions.Add(new DropdownItem{ Id = 2, OptionName = "Amount Saved (Highest First)", OptionRef = "savingDesc" });
        dropdownOptions.Add(new DropdownItem{ Id = 3, OptionName = "Price (Highest to Lowest)", OptionRef = "priceDesc" });
        dropdownOptions.Add(new DropdownItem{ Id = 4, OptionName = "Price (Lowest to Highest)", OptionRef = "priceAsc" });
        dropdownOptions.Add(new DropdownItem{ Id = 5, OptionName = "Name (Z-A)", OptionRef = "nameDesc" });
    }

    private void GoToHomePage()
    {
        navigationManager.NavigateTo("/");
    }

    private async Task AddProductToBasket(int productId)
    {
        var product = new ProductDTO();

        try
        {
            product = await productService.GetProductByIdAsync(productId);
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Products/SpecialOffers.AddItemToBasket()");
            errorMessage = @localizer[nameof(ResourceStrings.CouldNotAddThisProduct)];
        }

        if (product != null)
        {
            var productToAdd = new BasketProductDTO {
                Id = product.Id,
                Name = product.Name,
                Price = product.Price,
                ImageUrl = product.ImageUrl,
                Guide = product.Guide,
                Category = product.Category,
                SalePrice = product.SalePrice
            };

            var item = new BasketItem { Product = productToAdd, Quantity = itemQuantity };

            basketState.Basket.BasketItems.Add(item);
            await basketState.SaveChangesAsync(); // save to local storage
            basketState.BasketItemCount++;
            toastService.ShowSuccess(@localizer[nameof(ResourceStrings.NewItemInBasket)], @localizer[nameof(ResourceStrings.BasketUpdated)]);
        }
        else 
        {
            errorMessage = @localizer[nameof(ResourceStrings.CouldNotAddThisProduct)];
        }
    }
   
}
