﻿@inherits TestContext

@using ExcursioHub.Shared.Entities

@code {
    [Fact]
    public void NavMenu_Renders_Correct_Number_Of_NavMenuItems()
    {
        List<NavMenuItem> NavMenuItems = new List<NavMenuItem>();
        NavMenuItems.Add(new NavMenuItem { DisplayName = "City Tours", Url = "products/categories/1" });
        NavMenuItems.Add(new NavMenuItem { DisplayName = "Cultural and Heritage Tours", Url = "products/categories/2" });

        var cut = Render(@<NavMenu navMenuItems=@NavMenuItems />);

        var menuItems = cut.FindAll(".nav-menu-item");
        Assert.Equal(2, menuItems.Count);
    }

    [Fact]
    public void NavMenu_Correctly_Renders_Supplied_Display_Name()
    {
        List<NavMenuItem> NavMenuItems = new List<NavMenuItem>();
        NavMenuItems.Add(new NavMenuItem { DisplayName = "Test Display Name", Url = "/" });

        var cut = Render(@<NavMenu navMenuItems=@NavMenuItems />);
        var menuItem = cut.Find(".nav-menu-item");
        var link = menuItem.QuerySelector("a");

        Assert.Equal("Test Display Name", link.TextContent);
    }

    [Fact]
    public void NavMenu_Correctly_Renders_Supplied_Url()
    {
        List<NavMenuItem> NavMenuItems = new List<NavMenuItem>();
        NavMenuItems.Add(new NavMenuItem { DisplayName = "City Tours", Url = "products/categories/1" });

        var cut = Render(@<NavMenu navMenuItems=@NavMenuItems />);
        var menuItem = cut.Find(".nav-menu-item");
        var link = menuItem.QuerySelector("a");

        Assert.Equal("products/categories/1", link.GetAttribute("href"));
    }

    [Fact]
    public void NavMenu_Correctly_Renders_One_NavMenuItem_Link()
    {
        List<NavMenuItem> NavMenuItems = new List<NavMenuItem>();
        NavMenuItems.Add(new NavMenuItem { DisplayName = "City Tours", Url = "products/categories/1" });

        var cut = Render(@<NavMenu navMenuItems=@NavMenuItems />);
        var menuItem = cut.Find(".nav-menu-item");
        var link = menuItem.QuerySelector("a");

        link.MarkupMatches(@<a href="products/categories/1" class:ignore="">
                                City Tours
                            </a>
        );
    }
}
