﻿@page "/admin/categories"



@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Localization
@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Models
@using ExcursioHub.Client.Providers


@inject IProductService productService
@inject IToastService toastService
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager
@inject IStringLocalizer<App> localizer

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="container">
    @if (IsAdmin)
    {
    <div class="table-responsive">
        <div class="table-wrapper font-mono">
            <div class="table-title">
                <div class="col">
                    <div class="col-sm-8"><h2 class="text-2xl">Manage <b>Categories</b></h2></div>
                    <br />
                    <div class="col-sm-4">
                        <button type="button" @onclick="@CreateCategory" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-auto">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category category in categories)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>
                                <a class="edit" title="Edit" href="/admin/category/edit/@category.Id" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a class="delete" title="Delete" @onclick="@(() => DeleteCategory(category.Id))" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }
    else
        {
            <NoAccessPage />
        }
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool IsAdmin;

    public List<Category> categories = new();

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() => System.Threading.Thread.Sleep(1)); // forces the page to wait before getting the basket


    }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.HasClaim("role", "Administrator"))
        {
            IsAdmin = true;
        }


        await GetCategories();
    }

    private async Task GetCategories()
    {
        categories = await productService.GetProductCategoriesAsync();
    }

    private async Task DeleteCategory(int catId)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete?");
        if (confirmed)
        {
            var response = await productService.DeleteCategoryAsync(catId);
            if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                toastService.ShowSuccess("Category was successfully deleted", "Deleted");
                navigationManager.NavigateTo("/admin/categories");
            }
            else
            {
                toastService.ShowError("An error has occurred please try again", "Error");
            }
        }
    }

    private void CreateCategory()
    {
        navigationManager.NavigateTo("admin/category/create");
    }
}