﻿@page "/admin/category/create"
@page "/admin/category/edit/{categoryId:int}"

@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Localization
@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Models
@using ExcursioHub.Client.Providers

@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@inject IProductService productService
@inject ILanguageService languageService
@inject IToastService toastService
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager

@inject IJSRuntime JsRuntime

<div class="h-auto">
     @if (IsAdmin)
    {
    <div class="px-2 lg:container lg:max-w-7xl md:mt-8">
        <div class="col-span-1 bg-gray-50 rounded-sm text-center h-full px-2.5 lg:px-8">
            <div class="text-lg text-center md:text-xl lg:text-2xl font-bold mb-4">
                Create Category
            </div>
            <div class="flex justify-center px-2.5 lg:px-8 py-2">
                <EditForm id="@CategoryFormID" name="@CategoryFormID" Model="@category">
                    <DataAnnotationsValidator />
                    <div class="mb-2 w-full text-left">
                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Title)]</label>
                        <InputText id="street" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="category.Name" />
                        <ValidationMessage For="@(() => category.Name)" />
                    </div>
                    <div class="mb-2 w-full text-left">
                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Lang)]</label>
                            <InputSelect class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="category.LanguageId">
                            @if (langs != null)
                            {
                                @foreach (var lang in langs)
                                {
                                    @if (Selectedlang != null && lang == Selectedlang)
                                    {
                                        <option selected value=@lang.Id>@lang.LanguageName</option>
                                    }
                                    else
                                    {
                                        <option value=@lang.Id>@lang.LanguageName</option>
                                    }
                                }
                            }
                        </InputSelect>
                            <ValidationMessage For="@(() => category.LanguageId)" />
                    </div>
                </EditForm>
            </div>
            @if (categoryId == 0)
            {
                <div class="mt-4 w-full flex justify-center">
                    <button type="submit" form="@CategoryFormID" @onclick="@(() => AddCategory())" class="flex justify-center align-items-center py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                        
                        <div id="order-text" class="ml-2">@*@localizer[nameof(ResourceStrings.PlaceOrder)]*@Create Category</div>
                    </button>
                </div>
            }
            else{

            <div class="mt-4 w-full flex justify-center">
                    <button type="submit" form="@CategoryFormID" @onclick="@(() => SaveCategory())" class="flex justify-center align-items-center m-1 py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                    
                        <div id="order-text" class="ml-2">@*@localizer[nameof(ResourceStrings.PlaceOrder)]*@Edit Category</div>
                </button>
                    <button type="submit" form="@CategoryFormID" @onclick="@(() => DeleteCategory())" class="flex justify-center align-items-center m-1 py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                    
                        <div id="order-text" class="ml-2">@*@localizer[nameof(ResourceStrings.PlaceOrder)]*@Delete Category</div>
                </button>
            </div>
            }
        </div>
        @if (ShowErrors)
        {
            <div class="mx-2 text-center animate-pulse">
                <div class="alert-box" role="alert">
                    <span class="block sm:inline">@ErrorMessage</span>
                </div>
            </div>
        }
    </div>
    }
    else
    {
        <NoAccessPage />
    }
</div>

@code {

    [Parameter]
    public int categoryId { get; set; } = 0;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool IsAdmin;


    private Category category = new();
    private string CategoryFormID = "product-form";
    private string SubmitSpinnerHidden = "hidden";
    private List<Language> langs { get; set; }
    private Language Selectedlang = null;

    private bool ShowErrors;
    private string ErrorMessage;

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() => System.Threading.Thread.Sleep(1)); // forces the page to wait before getting the basket
        langs = await languageService.GetAllLanguagesAsync();

        if (categoryId != 0)
        {
            category = await productService.GetCategoryByIdAsync(categoryId);
        }
        else
        {
            if (langs.Count() > 0) category.LanguageId = langs[0].Id;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.HasClaim("role", "Administrator"))
        {
            IsAdmin = true;
        }
    }

    private async Task AddCategory()
    {

        ShowErrors = false;
        SubmitSpinnerHidden = "";

        var response = await productService.AddCategoryAsync(category);

        if (response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            toastService.ShowSuccess("Category was successfully added to the database", "Added");
            navigationManager.NavigateTo("/admin/categories",true);
        }
        else
        {
            toastService.ShowError("An error has occurred please try again", "Error");
        }
    }

    private async Task SaveCategory()
    {
        var response = await productService.UpdateCategoryAsync(category.Id, category);

        Console.WriteLine(response);

        if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            toastService.ShowSuccess("Category was successfully added to the database", "Updated");
            navigationManager.NavigateTo($"/admin/categories");
        }
        else
        {
            toastService.ShowError("An error has occurred please try again", "Error");
        }
    }

    private async Task DeleteCategory()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete?");
        if (confirmed)
        {
            var response = await productService.DeleteCategoryAsync(category.Id);

            if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                toastService.ShowSuccess("Category was successfully deleted", "Deleted");
                navigationManager.NavigateTo("/admin/categories");
            }
            else
            {
                toastService.ShowError("An error has occurred please try again", "Error");
            }
        }
    }

}
