﻿@page "/admin/product/create"
@page "/admin/product/edit/{productId:int}"


@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Localization
@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Models
@using ExcursioHub.Client.Providers

@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@inject IProductService productService
@inject ILanguageService languageService
@inject IToastService toastService
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime


<div class="h-auto">
     @if (IsAdmin)
    {
    <div class="px-2 lg:container lg:max-w-7xl md:mt-8">
        <div class="col-span-1 bg-gray-50 rounded-sm text-center h-full px-2.5 lg:px-8">
            <div class="text-lg text-center md:text-xl lg:text-2xl font-bold mb-4">
                @localizer[nameof(ResourceStrings.CreateProduct)]
            </div>
            <div class="flex justify-center px-2.5 lg:px-8 py-2">
                <EditForm id="@ProductFormID" name="@ProductFormID" Model="@productDTO" >
                    <DataAnnotationsValidator />
                    <div class="mb-2 w-full text-left">
                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Title)]</label>
                        <InputText id="street" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.Name" />
                        <ValidationMessage For="@(() => productDTO.Name)" />
                    </div>
                    <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Category)]</label>
                        <InputSelect class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.CategoryId">
                            @if(categories != null)
                            {
                                @foreach (var category in categories)
                                {
                                    @if (SelectedCategory != null && category == SelectedCategory)
                                    {
                                        <option selected value="@category.Id">@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }

                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => productDTO.Name)" />
                    </div>
                    <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Guide)]</label>
                        <InputSelect class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.GuideId">
                            @if (guides != null)
                            {
                                @foreach (var guide in guides)
                                {
                                    @if (SelectedGuide != null && guide == SelectedGuide)
                                    {
                                        <option selected value="@guide.Id">@guide.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@guide.Id">@guide.Name</option>
                                    }
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => productDTO.Guide)" />
                    </div>
                    <div class="mb-2 w-full text-left">
                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Lang)]</label>
                        <InputSelect class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.LanguageId">
                            @if (langs != null)
                            {
                                @foreach (var lang in langs)
                                {
                                    @if (Selectedlang != null && lang == Selectedlang)
                                    {
                                        <option selected value=@lang.Id>@lang.LanguageName</option>
                                    }
                                    else
                                    {
                                        <option value=@lang.Id>@lang.LanguageName</option>
                                    }
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => productDTO.LanguageId)" />
                    </div>
                    <div class="mb-2 w-full text-left">
                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.ImageUrl)]</label>
                        <InputText id="secondLine" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.ImageUrl" />
                        <ValidationMessage For="@(() => productDTO.ImageUrl)" />
                    </div>
                    <div class="mb-2 w-full text-left">
                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Price)]</label>
                        <InputNumber id="city" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.Price" />
                        <ValidationMessage For="@(() => productDTO.Price)" />
                    </div>
                    @if(productId != 0)
                    {
                        <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.SalePrice)]</label>
                            <InputNumber id="county" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.SalePrice" />
                            <ValidationMessage For="@(() => productDTO.SalePrice)" />
                        </div>
                    }
                    <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Description)] </label>
                        <InputText id="postCode" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.Description" />
                        <ValidationMessage For="@(() => productDTO.Description)" />
                    </div>
                    @if (productId != 0)
                    {
                        <div class="mb-2 w-full text-left">
                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.IsAvailable)]</label>
                            <InputCheckbox id="postCode" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="productDTO.IsAvailable" />
                            <ValidationMessage For="@(() => productDTO.IsAvailable)" />
                        </div>
                    }
                </EditForm>
            </div>
            @if (productId == 0)
            {
                <div class="mt-4 w-full flex justify-center">
                    <button type="submit" form="@ProductFormID" @onclick="@(() => AddProduct())" class="flex justify-center align-items-center py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                        
                        <div id="order-text" class="ml-2">@*@localizer[nameof(ResourceStrings.PlaceOrder)]*@Create Product</div>
                    </button>
                </div>
            }
            else{

            <div class="mt-4 w-full flex justify-center">
                <button type="submit" form="@ProductFormID" @onclick="@(() => SaveProduct())" class="flex justify-center align-items-center m-1 py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                    
                    <div id="order-text" class="ml-2">@*@localizer[nameof(ResourceStrings.PlaceOrder)]*@Edit Product</div>
                </button>
                <button type="submit" form="@ProductFormID" @onclick="@(() => DeleteProduct())" class="flex justify-center align-items-center m-1 py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                    
                    <div id="order-text" class="ml-2">@*@localizer[nameof(ResourceStrings.PlaceOrder)]*@Delete Product</div>
                </button>
            </div>
            }
        </div>
        @if (ShowErrors)
        {
            <div class="mx-2 text-center animate-pulse">
                <div class="alert-box" role="alert">
                    <span class="block sm:inline">@ErrorMessage</span>
                </div>
            </div>
        }
    </div>
    }
    else
    {
        <NoAccessPage />
    }
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool IsAdmin;

    public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "Delete";
    [Parameter] public string Class { get; set; } = "btn btn-danger";
    [Parameter] public string Message { get; set; } = "Are you sure?";

    [Parameter]
    public int productId { get; set; } = 0;

    private List<Category> categories { get; set; }
    private List<Guide> guides { get; set; }

    private List<Language> langs { get; set; }

    private ProductDTO productDTO = new();
    private string ProductFormID = "product-form";
    private string SubmitSpinnerHidden = "hidden";

    private Guide SelectedGuide = null;
    private Category SelectedCategory = null;
    private Language Selectedlang = null;

    private bool ShowErrors;
    private string ErrorMessage;

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() => System.Threading.Thread.Sleep(1)); // forces the page to wait before getting the basket

        categories = await productService.GetProductCategoriesAsync();
        guides = await productService.GetProductGuidesAsync();
        langs = await languageService.GetAllLanguagesAsync();

        if(productId != 0)
        {
            productDTO = await productService.GetProductByIdAsync(productId);
        }
        else
        {
            if (categories.Count() > 0) productDTO.CategoryId = categories[0].Id;
            if (guides.Count() > 0) productDTO.GuideId = guides[0].Id;
            if (langs.Count() > 0) productDTO.LanguageId = langs[0].Id;
            productDTO.Description = "";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.HasClaim("role", "Administrator"))
        {
            IsAdmin = true;
        }
    }

    private async Task AddProduct()
    {

        ShowErrors = false;
        SubmitSpinnerHidden = "";
        localizer.GetAllStrings();
        var product = new ProductCreateDTO
        {
            Name = productDTO.Name,
            Description = productDTO.Description,
            Price = productDTO.Price,
            ImageUrl = productDTO.ImageUrl,
            GuideId = productDTO.GuideId,
            CategoryId = productDTO.CategoryId,
            LanguageId = productDTO.LanguageId
        };

        var response = await productService.AddProductAsync(product);

        if (response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            toastService.ShowSuccess("Product was successfully added to the database", "Added");
            navigationManager.NavigateTo("/");
        }
        else
        {
            toastService.ShowError("An error has occurred please try again", "Error");
        }
    }

    private async Task SaveProduct()
    {
        var product = new ProductUpdateDTO
            {
                Name = productDTO.Name,
                Description = productDTO.Description,
                Price = productDTO.Price,
                SalePrice = productDTO.SalePrice,
                ImageUrl = productDTO.ImageUrl,
                GuideId = productDTO.GuideId,
                CategoryId = productDTO.CategoryId,
                IsAvailable = productDTO.IsAvailable,
                LanguageId = productDTO.LanguageId
            };



        var response = await productService.UpdateProductAsync(productDTO.Id, product);

        Console.WriteLine(response);

        if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            toastService.ShowSuccess("Product was successfully added to the database", "Updated");
            navigationManager.NavigateTo($"/products/details/{productDTO.Id}");
        }
        else
        {
            toastService.ShowError("An error has occurred please try again", "Error");
        }
    }

    private async Task DeleteProduct()
    {

        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete?");
        if (confirmed)
        {
            var response = await productService.DeleteProductAsync(productDTO.Id);

            if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                toastService.ShowSuccess("Product was successfully deleted", "Deleted");
                navigationManager.NavigateTo("/");
            }
            else
            {
                toastService.ShowError("An error has occurred please try again", "Error");
            }
        }
        
    }
}
