﻿@page "/register"

@using ExcursioHub.Shared.Auth
@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Localization

@inject NavigationManager navigationManager
@inject IAuthenticationService authenticationService
@inject IToastService toastService
@inject IStringLocalizer<App> localizer

<div class="mx-2 mt-8 md:container">
    <div class="p-3 lg:p-4 flex justify-center">
        <div class="text-center shadow-md bg-white rounded-md overflow-hidden relative lg:w-112">
            <div class="hidden md:block h-16 w-auto bg-blue-900 py-2">
                <span class="flex items-center justify-center text-gray-50 mt-1">
                    <!-- https://icons.getbootstrap.com/icons/camera/ -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                    </svg>
                    <div class="text-gray-50 text-xl font-semibold ml-4">Excursion Hub</div>
                </span>
            </div>
            <div class="p-4 lg:w-112">
                <div class="mb-4 text-lg md:text-xl lg:text-2xl font-bold">
                    @localizer[nameof(ResourceStrings.RegisterNewAcc)]
                </div>
                <div class="mb-4 font-semibold text-sm lg:text-base text-gray-400">
                    <a href="/login" class="hover:text-blue-800">@localizer[nameof(ResourceStrings.AlreadyAcc)]</a>
                </div>
                <div class="px-2 md:px-4 py-2">
                    <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration">
                        <FluentValidationValidator />
                        <div class="mb-3 w-full text-left">
                            <label class="text-base font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.YourName)]</label>
                            <InputText Id="displayName" class="px-2 py-1 rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="RegisterModel.DisplayName" />
                            <ValidationMessage For="@(() => RegisterModel.DisplayName)" />
                        </div>
                        <div class="mb-4 w-full text-left">
                            <label class="text-base font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.EmailAddress)]</label>
                            <InputText Id="email" class="px-2 py-1 rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="RegisterModel.Email" />
                            <ValidationMessage For="@(() => RegisterModel.Email)" />
                        </div>
                        <div class="mb-4 w-full text-left">
                            <label class="text-base font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Password)]</label>
                            <InputText Id="password" type="password" class="px-2 py-1 rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="RegisterModel.Password" />
                            <ValidationMessage For="@(() => RegisterModel.Password)" />
                        </div>
                        <div class="mb-4 w-full text-left">
                            <label class="text-base font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.ConfirmPassword)]</label>
                            <InputText Id="confirmPassword" type="password" class="px-2 py-1 rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="RegisterModel.ConfirmPassword"/>
                            <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
                        </div>
                        <div class="my-4 w-full">
                            <button type="submit" class="bg-fotofuchsia text-gray-50 w-full p-2 mt-3 rounded-sm font-semibold fotofuchsia-ripple disabled:opacity-30 disabled:cursor-default">@localizer[nameof(ResourceStrings.Register)]</button>
                        </div>
                    </EditForm>
                </div>
                @if (ShowErrors)
                {
                    <div class="mx-2 animate-pulse">
                        <div class="alert-box" role="alert">
                            <span class="block sm:inline">@Errors</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private RegisterModel RegisterModel = new RegisterModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;

    private async Task HandleRegistration()
    {
        ShowErrors = false;

        var result = await authenticationService.Register(RegisterModel);

        if (result.Successful)
        {
            toastService.ShowSuccess(@localizer[nameof(ResourceStrings.SuccReg)], @localizer[nameof(ResourceStrings.Welcome)]);
            navigationManager.NavigateTo("login");
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }
}