﻿@page "/checkout"

@attribute [Authorize]

@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Shared.Entities
@using System.Linq
@using ExcursioHub.Client.Contracts
@using ExcursioHub.Shared.Models.Orders
@using Microsoft.Extensions.Configuration
@using ExcursioHub.Client.Localization

@inject IOrderService orderService
@inject IJSRuntime JsRuntime
@inject IToastService toastService
@inject IConfiguration config
@inject IPaymentService paymentService
@inject NavigationManager navigationManager
@inject IAccountService accountService
@inject IStringLocalizer<App> localizer

<div class="h-auto">
    <div class="px-2 lg:container lg:max-w-7xl md:mt-8">
        @if (basketItems != null)
        {
            @if (basketItems.Count > 0)
            {
                <div class="w-full p-4 rounded-md shadow-md bg-white focus:outline-none z-10">
                    
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                        <div class="col-span-1">
                            <div class="text-lg text-center md:text-xl lg:text-2xl font-bold">
                                @localizer[nameof(ResourceStrings.OrderSummary)]
                            </div>
                            <div class="p-4 text-right" >
                                @foreach (BasketItem item in basketItems)
                                {
                                    <div class="font-semibold text-sm md:text-base flex items-center justify-end">
                                        <div class="inline-block w-16 h-auto mr-2"><img src="@item.Product.ImageUrl" /></div>
                                        <div class="inline-block flex-shrink-0">@item.Quantity &nbsp;x&nbsp; @GetProductName(item) &nbsp;=</div>
                                        <div class="ml-2 font-bold">€@item.Total</div>
                                        <button type="button" class="inline-block ml-2 -mr-1 text-fotofuchsia" @onclick="() => DeleteItem(item)">
                                            <!-- heroicons: x-circle (solid) -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </div>
                                }
                            </div>
                            <div class="my-2 px-4 text-right text-sm md:text-base font-semibold">
                                @localizer[nameof(ResourceStrings.Total)]:&nbsp; <span class="inline font-bold">€@basketState.Basket.BasketTotal</span>
                            </div>
@*                             <div class="my-2 px-4 text-right text-sm md:text-base font-semibold">
                                <span class="inline text-sm text-gray-400">@localizer[nameof(ResourceStrings.AllOrdersOver100)]</span>
                            </div> *@
                        </div>
                        <div class="col-span-1 bg-gray-50 rounded-sm text-center h-full px-2.5 lg:px-8">
                            <div class="text-lg text-center md:text-xl lg:text-2xl font-bold mb-4">
                                @localizer[nameof(ResourceStrings.DeliveryAddress)]
                            </div>
                            <div class="flex justify-center px-2.5 lg:px-8 py-2">
                                <EditForm id="@AddressFormID" name="@AddressFormID" Model="@addressDTO" OnValidSubmit="PlaceOrder">
                                    <DataAnnotationsValidator />
                                    <div class="w-full inline-flex">
                                        <div class="inline mb-2 w-1/2 text-left mr-2">
                                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.FirstName)]</label>
                                            <InputText id="firstName" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.FirstName" />
                                            <ValidationMessage For="@(() => addressDTO.FirstName)" />
                                        </div>
                                        <div class="inline mb-2 w-1/2 text-left">
                                            <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.LastName)]</label>
                                            <InputText id="lastName" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.LastName" />
                                            <ValidationMessage For="@(() => addressDTO.LastName)" />
                                        </div>
                                    </div>
                                    <div class="mb-2 w-full text-left">
                                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Street)]</label>
                                        <InputText id="street" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.Street" />
                                        <ValidationMessage For="@(() => addressDTO.Street)" />
                                    </div>
                                    <div class="mb-2 w-full text-left">
                                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.VillageArea)]</label>
                                        <InputText id="secondLine" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.SecondLine" />
                                        <ValidationMessage For="@(() => addressDTO.SecondLine)" />
                                    </div>
                                    <div class="mb-2 w-full text-left">
                                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.City)]</label>
                                        <InputText id="city" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.City" />
                                        <ValidationMessage For="@(() => addressDTO.City)" />
                                    </div>
                                    <div class="mb-2 w-full text-left">
                                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.Country)]</label>
                                        <InputText id="county" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.County" />
                                        <ValidationMessage For="@(() => addressDTO.County)" />
                                    </div>
                                    <div class="mb-2 w-full text-left">
                                        <label class="text-sm font-semibold mb-1 ml-0">@localizer[nameof(ResourceStrings.PostCode)]</label>
                                        <InputText id="postCode" class="px-2 py-1 text-sm rounded-sm focus:border-blue-700 border-3 outline-none w-full" @bind-Value="addressDTO.PostCode" />
                                        <ValidationMessage For="@(() => addressDTO.PostCode)" />
                                    </div>
                                </EditForm>
                            </div>
                            @if (ShowAddressExplanationText == true)
                            {
                                <div class="place-content-center text-sm font-semibold text-gray-700 my-2 px-4 lg:px-12 animate-pulse">
                                    @localizer[nameof(ResourceStrings.YourAddressHasBeenPopulatedFromYourMostRecentOrder)]
                                </div>
                                <div class="place-content-center">
                                    <button type="button" class="p-2 my-3 bg-fotofuchsia text-white rounded-sm text-sm font-semibold hover:opacity-90 fotofuchsia-ripple" 
                                        @onclick="ClearAddress">
                                        @localizer[nameof(ResourceStrings.ClearAddress)]
                                    </button>
                                </div>
                            }
                        </div>
                    </div>

                    @if (ShowPaymentOptions)
                    {
                        @*<div class="text-lg text-center md:text-xl lg:text-2xl font-bold mt-8 mb-3">
                            Card Details
                        </div>
                        <div class="mb-4 flex flex-row justify-center items-center">
                            <div class="text-sm text-center text-gray-400 flex flex-row justify-center items-center mr-2.5">
                                <div class="mr-0.5">
                                    <a href="https://stripe.com" target="_blank">
                                        <img src="https://i.ibb.co/rGNqmg3/powered-by-stripe.jpg">
                                    </a>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                            <div class="text-sm text-gray-300 mr-2.5">|</div>
                            <div class="text-sm text-center text-gray-400 flex flex-row justify-center items-center">
                                <div class="mr-1.5">
                                    <a href="/stripe" target="_blank" class="text-gray-400 hover:text-gray-500">
                                        Why this is safe
                                    </a>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <div>
                                <form id="payment-form" class="justify-items-center">
                                    <input id="name-on-card" class="w-96 text-base md:w-112 p-3 rounded-md shadow-sm border border-gray-300 text-gray-900 mb-1" placeholder="Name on Card" />
                                    <div id="card-element" class="w-96 md:w-112 p-3 rounded-md shadow-sm border border-gray-300">
                                        <!--Stripe.js injects the Card Element-->
                                    </div>
                                    <div id="card-error" class="mt-3 flex justify-center font-semibold text-red-500 animate-pulse">
                                        <!--Stripe.js card errors-->
                                    </div>
                                </form>
                            </div>
                        </div>*@
                        <div class="mt-4 w-full flex justify-center">
                            <button type="submit" form="@AddressFormID" id="btnPlaceOrder" class="flex justify-center align-items-center py-2 px-4 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm hover:opacity-90 fotofuchsia-ripple">
                                <svg version="1.1" id="order-spinner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    class="h-5 w-5 @SubmitSpinnerHidden" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path fill="currentColor" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                        <animateTransform attributeType="xml"
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 25 25"
                                            to="360 25 25"
                                            dur="0.7s"
                                            repeatCount="indefinite"/>
                                    </path>
                                </svg>
                                <div id="order-text" class="ml-2">@localizer[nameof(ResourceStrings.PlaceOrder)] (€@basketState.Basket.BasketTotal)</div>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="mt-2 text-center">
                            <button type="button" class="py-2 px-3 my-3 bg-fotofuchsia text-white text-base font-semibold rounded-sm disabled:opacity-30 disabled:cursor-default" disabled>
                                @localizer[nameof(ResourceStrings.SorryOrderCantBeSubmitted)]
                            </button>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="container p-4 w-full rounded-md shadow-sm bg-white focus:outline-none z-10 " >
                    <div class="mb-4 text-lg text-center md:text-xl lg:text-2xl font-bold">
                        @localizer[nameof(ResourceStrings.OrderSummary)]
                    </div>
                    <div class="p-4 text-center" role="none">
                        <span class="font-semibold text-base">@localizer[nameof(ResourceStrings.YourBasketEmpty)]</span>
                    </div>
                </div>
            }
        }
        @if (ShowErrors)
        {
            <div class="mx-2 text-center animate-pulse">
                <div class="alert-box" role="alert">
                    <span class="block sm:inline">@ErrorMessage</span>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public Error Error { get; set; }

    [CascadingParameter]
    public BasketState basketState { get; set; }

    private List<BasketItem> basketItems { get; set; }

    private AddressDTO addressDTO = new();
    private bool ShowErrors;
    private string ErrorMessage;
    private bool ShowPaymentOptions;
    private string SubmitSpinnerHidden = "hidden";
    private string AddressFormID = "address-form";
    private bool ShowAddressExplanationText = false;

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(()=> System.Threading.Thread.Sleep(1)); // forces the page to wait before getting the basket
        basketItems = basketState.Basket.BasketItems;
        ShowPaymentOptions = true;

        // populate the address form with the user's default address (if they have one)
        addressDTO = await accountService.GetUserAddressAsync();

        if (!string.IsNullOrWhiteSpace(addressDTO.Street))
        {
            ShowAddressExplanationText = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ShowPaymentOptions = true;

            try
            {
                // initialise the stripe js file 
                await JsRuntime.InvokeVoidAsync("setupStripe", config["Stripe_PublishableKey"]); // wwwroot/scripts/stripe.js

                // get a payment intent from stripe
                await GetPaymentIntentResultAsync(); 
            }
            catch (JSException ex)
            {
                Error.ProcessError(ex, "Pages/Checkout/OrderSummary.OnAfterRenderAsync()");
                ErrorMessage = "Could not set up payment options. Try reloading the page and/or logging in again";
            }

            firstRender = false;

            if (basketItems == null)
            {
                ShowPaymentOptions = false;
            }
        }
    }

    public async Task GetPaymentIntentResultAsync()
    {
        var basket = basketState.Basket;
        var result = await paymentService.CreateOrUpdatePaymentIntent(basket);

        if (result != null)
        {
            // add created payment intent details to the basket state
            basket.PaymentIntentId = result.PaymentIntentId;
            basket.ClientSecret = result.ClientSecret;

            await basketState.SaveChangesAsync(); // save to local storage
        }
    }

    private async Task DeleteItem(BasketItem item)
    {
        basketState.Basket.BasketItems.Remove(basketState.Basket.BasketItems.FirstOrDefault(
                i => i.Product.Name == item.Product.Name &&
                i.Quantity == item.Quantity
            ));

        await GetPaymentIntentResultAsync();

        await basketState.SaveChangesAsync(); // save to local storage
        basketState.BasketItemCount--;
    }

    private async Task PlaceOrder()
    {
        ShowErrors = false;
        SubmitSpinnerHidden = "";

        var orderAddress = new Address {
            FirstName = addressDTO.FirstName,
            LastName = addressDTO.LastName,
            Street = addressDTO.Street,
            SecondLine = addressDTO.SecondLine,
            City = addressDTO.City,
            County = addressDTO.County,
            PostCode = addressDTO.PostCode
        };

        var orderToCreate = new OrderCreateDTO {
            Items = basketItems,
            SendToAddress = orderAddress,
            PaymentIntentId = basketState.Basket.PaymentIntentId
        };

        var newOrder = await orderService.CreateOrderAsync(orderToCreate);

        if (newOrder != null)
        {
            SubmitSpinnerHidden = "hidden";
            string paymentResult = "";

            try
            {
                // invoke js method to submit payment
                paymentResult = await JsRuntime.InvokeAsync<string>("payWithCard");
            }
            catch (JSException ex)
            {
                Error.ProcessError(ex, "Pages/Checkout/OrderSummary.PlaceOrder()");
                paymentResult = @localizer[nameof(ResourceStrings.ThereWasProblemSendingYourPaymentDetails)];
            }

            if (paymentResult != "success")
            {
                ShowErrors = true;
                ErrorMessage = paymentResult;
                toastService.ShowError(paymentResult, @localizer[nameof(ResourceStrings.PaymentFailed)]);
            }
            else
            {
                ShowErrors = false;

                // remove the payment intent id and secret from the basket
                basketState.Basket.PaymentIntentId = "";
                basketState.Basket.ClientSecret = "";

                // empty the basket of items
                basketState.Basket.BasketItems.Clear();
                await basketState.SaveChangesAsync();

                // toast message
                toastService.ShowSuccess(@localizer[nameof(ResourceStrings.ThanksYourOrderHasBeenPlaced)], @localizer[nameof(ResourceStrings.OrderPlaced)]);

                // save the address to the user's account
                await accountService.SaveUserAddressAsync(addressDTO);

                // navigate away to confirmation page
                navigationManager.NavigateTo($"/checkout/success/{newOrder.Id}");
            }
        }
        else
        {
            ShowErrors = true;
            ErrorMessage = @localizer[nameof(ResourceStrings.SorryThereWasProblemCreatingYourOrder)];
            SubmitSpinnerHidden = "hidden";
        }
    }

    private void ClearAddress()
    {
        addressDTO = new AddressDTO {};
    }

    private string GetProductName(BasketItem item)
    {
        string productName = item.Product.Name;

        try
        {
            productName = localizer[Enum.GetName(typeof(ResourceStrings), (int)Enum.Parse(typeof(ResourceStrings), "Name" + item.Product.Id))];
        }catch{}


        return productName;
    }
}
