﻿@page "/account/orders/{id:int}"

@using ExcursioHub.Shared.DTOs
@using ExcursioHub.Client.Contracts
@using ExcursioHub.Client.Extensions
@using ExcursioHub.Client.Localization

@inject IOrderService orderService
@inject IStringLocalizer<App> localizer

@attribute [Authorize]

<div class="h-screen">
    <div class="px-0 lg:container lg:max-w-7xl md:mt-4">
        <div class="mb-4">
            <NavButton
                Href="/account/orders"
                       ButtonText=@localizer[nameof(ResourceStrings.GoBack)] />
        </div>
        <div class="w-full px-12 pt-4 pb-8 rounded-md shadow-md bg-white focus:outline-none z-10">
            <div class="text-xl text-center lg:text-2xl font-bold mb-4">
                <h3>@localizer[nameof(ResourceStrings.OrderDetailsFor)] #@Id</h3>
            </div>
            @if (errorMessage != "")
            {
                <div class="mx-2 animate-pulse">
                    <div class="alert-box text-center" role="alert">
                        <span class="block sm:inline">@errorMessage</span>
                    </div>
                </div>
            }
            else if (orderDetails != null && orderItems != null)
            {
                <div class="flex flex-col md:flex-row justify-center align-top w-full px-4 py-2 mb-2">
                    <div class="w-full md:w-1/2">
                        <div class="px-4 font-bold text-base lg:text-lg place-content-center md:text-right">@localizer[nameof(ResourceStrings.OrderDate)]: @orderDetails.OrderDate.ToUKStandardDate()</div>
                    </div>
                    <div class="w-full md:w-1/2 flex flex-row items-center">
                        <div class="px-4 font-bold text-base lg:text-lg place-content-center md:text-left">@localizer[nameof(ResourceStrings.Status)]: @orderDetails.Status</div>
                        @if (@orderDetails.Status == "Payment Received")
                        {
                            <div class="text-green-600 -ml-3">
                                <!-- heroicons: check-circle (solid) -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        }
                        @if (@orderDetails.Status == "Payment Failed")
                        {
                            <div class="text-red-600 -ml-3">
                                <!-- heroicons: exclamation-circle (solid) -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                                </svg>
                            </div>
                        }
                    </div>
                </div>
                <div class="flex flex-col md:flex-row justify-center align-top w-full p-4 bg-gray-50 rounded-md">
                    <div class="w-full md:w-1/2">
                        <div class="px-4 font-bold text-lg lg:text-right text-fotoblue">@localizer[nameof(ResourceStrings.ItemsOrdered)]</div>
                        <div class="p-4 text-right">
                            @foreach (OrderItemDTO item in orderItems)
                            {
                                <div class="font-semibold text-base flex items-center justify-end">
                                    <div class="hidden md:inline-block w-12 h-auto mr-2"><img src="@item.ImageUrl" /></div>
                                    <div class="inline-block flex-shrink-0">@item.Quantity &nbsp;x&nbsp; @(localizer[Enum.GetName(typeof(ResourceStrings), (int)Enum.Parse(typeof(ResourceStrings), item.ProductName.Replace(" ", "")))])</div>
                                    <div class="hidden lg:block ml-2 font-bold"> = €@(item.Quantity * item.Price)</div>
                                </div>
                            }
                        </div>
                        <div class="-mt-1.5 md:mt-1.5 px-4 text-right text-base font-semibold">
                            @localizer[nameof(ResourceStrings.OrderTotal)]:&nbsp; <span class="inline font-bold">€@orderDetails.Total</span>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 mt-3.5 md:mt-0">
                        <div class="px-4 mt-3.5 md:mt-0 font-bold text-lg text-fotoblue">@localizer[nameof(ResourceStrings.DeliveryAddress)]</div>
                        <div class="p-4 text-left font-medium" >
                            <div>@orderDetails.SendToAddress.FirstName @orderDetails.SendToAddress.LastName</div>
                            <div>@orderDetails.SendToAddress.Street</div>
                            <div class="@(string.IsNullOrWhiteSpace(orderDetails.SendToAddress.SecondLine) ? "hidden" : "")">@orderDetails.SendToAddress.SecondLine</div>
                            <div>@orderDetails.SendToAddress.City</div>
                            <div>@orderDetails.SendToAddress.County</div>
                            <div>@orderDetails.SendToAddress.PostCode</div> 
                            <div>United Kingdom</div>
                        </div>
                    </div>
                </div>
            }
            else 
            {
                <div class="p-4 text-center font-semibold">
                    @localizer[nameof(ResourceStrings.ThisOrderCouldNotBeFound)]
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    public Error Error { get; set; }

    private OrderDetailsDTO orderDetails;
    private List<OrderItemDTO> orderItems;
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        await GetOrder();
    }
    
    private async Task GetOrder()
    {
        try
        {
            orderDetails = await orderService.GetOrderByIdAsync(Id);
            orderItems = orderDetails.OrderItems;
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Account/OrderDetails.GetOrder()");
            errorMessage = @localizer[nameof(ResourceStrings.CouldNotRetrieveThisOrder)];
        }
    }
}
